#menu_desktop .top-info {
  background-color: #529c4d;
  padding-top: 10px;
  padding-bottom: 10px;
}
#menu_desktop .top-info i {
  color: white;
  margin-right: 6px;
}
#menu_desktop .top-info p {
  font-size: 14px;
}
#menu_desktop .top-info p a {
  color: white;
}
#menu_desktop h4 {
  font-size: 25px;
  font-weight: bold;
  color: #529c4d;
}
#menu_desktop h6 {
  font-size: 12px;
  color: #f58634;
}
#menu_desktop .main-menu-desktop {
  border-top: 1px solid #d7d3d3;
  box-shadow: 0px 2px 2px 0px #888888;
}
#menu_desktop .main-menu-desktop ul {
  list-style-type: none;
}
#menu_desktop .main-menu-desktop ul li {
  display: -webkit-inline-box;
  display: inline-flex;
}
#menu_desktop .main-menu-desktop ul li a {
  font-size: 17px;
  padding: 20px 12px;
  color: #1b1e21;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
}
#menu_desktop .main-menu-desktop ul li a:hover {
  background-color: #529c4d;
  color: white;
  border-bottom: 2px solid #f58634;
  border-top: 2px solid #f58634;
}
#menu_desktop .main-menu-desktop ul li .search {
  margin-left: 20px;
  border: 1px solid #d7d3d3;
  padding: 6px;
  border-radius: 16px;
}
#menu_desktop .main-menu-desktop ul li .search input {
  border: none;
  padding: 0px 10px;
}
#menu_desktop .main-menu-desktop ul li .search input:focus {
  outline: none;
}
#menu_desktop .main-menu-desktop ul li .search button {
  background: transparent;
  border: none;
  cursor: pointer;
}
#menu_desktop .main-menu-desktop .mobile-menu i {
  font-size: 24px;
  color: #004085;
}
#menu_desktop .main-menu-desktop .mobile-menu span {
  font-size: 20px;
  font-weight: bold;
}

#slider {
  position: relative;
}
#slider .blink_text {
  position: absolute;
  z-index: 100;
  top: 20%;
  padding: 0.5em 2em;
  font-size: 30px;
  border-radius: 1em;
  border: 0px;
  color: whitesmoke;
  background: #D31027;
  background: -webkit-gradient(linear, left top, right top, from(#529c4d), to(#78bc4d));
  background: linear-gradient(to right, #529c4d, #78bc4d);
  -webkit-animation: shake 1s ease-in infinite;
          animation: shake 1s ease-in infinite;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(0.8em);
            transform: translate(0.8em);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  }
  10%, 30%, 50% {
    -webkit-transform: translate(-0.2em);
            transform: translate(-0.2em);
  }
  70%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate(0.8em);
            transform: translate(0.8em);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  }
  10%, 30%, 50% {
    -webkit-transform: translate(-0.2em);
            transform: translate(-0.2em);
  }
  70%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes blinker {
  from {
    color: #529c4d;
    -webkit-transform: scale(0.5) rotate(-30deg);
            transform: scale(0.5) rotate(-30deg);
    opacity: 0;
  }
  to {
    color: #f58634;
    -webkit-transform: scale(1) rotate(-30deg);
            transform: scale(1) rotate(-30deg);
    opacity: 1;
  }
}
@keyframes blinker {
  from {
    color: #529c4d;
    -webkit-transform: scale(0.5) rotate(-30deg);
            transform: scale(0.5) rotate(-30deg);
    opacity: 0;
  }
  to {
    color: #f58634;
    -webkit-transform: scale(1) rotate(-30deg);
            transform: scale(1) rotate(-30deg);
    opacity: 1;
  }
}
#slider .img-content {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 38px;
  overflow: hidden;
}
#slider .img-content .test-slide {
  position: absolute;
  text-align: center;
  width: 100%;
}
#slider .img-content .test-slide h5 {
  font-size: 28px;
  font-weight: bold;
  color: #007bff;
}
#slider .img-content .test-slide h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px auto 20px auto;
  font-size: 50px;
  font-weight: bold;
}
#slider .img-content .test-slide h6 {
  width: 60%;
  font-size: 17px;
  margin: auto;
  color: #6b6a6a;
}
#slider .img-content .test-title {
  position: absolute;
  text-align: left;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.66);
  right: 0;
  padding: 20px 20px;
}
#slider .img-content .test-title h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

@media (max-width: 575.98px) {
  #slider .blink_text {
    padding: 0.3em 0.7em;
    font-size: 20px;
    bottom: 20%;
    top: auto;
  }
}
@media only screen and (max-width: 800px) {
  #slider .img-content .test-slide h5 {
    font-size: 22px;
  }
  #slider .img-content .test-slide h4 {
    font-size: 26px;
  }
  #slider .img-content .test-slide h6 {
    width: 90%;
  }
  #slider .img-content .test-title {
    width: 80%;
  }
  #slider .img-content .test-title h4 {
    font-size: 15px;
  }
}
#support {
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 48px;
  padding-bottom: 48px;
}
#support:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 23, 66, 0.9);
  top: 0;
  left: 0;
  z-index: 0;
}
#support p {
  color: white;
}
#support h5 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}
#support button {
  background-color: #f58634;
  color: white;
  border: none;
  font-size: 12px;
  padding: 14px 20px;
  cursor: pointer;
  font-weight: bold;
}

#scub-email {
  padding-top: 30px;
}
#scub-email .email {
  position: relative;
  width: 68%;
  height: auto;
  margin: auto;
}
#scub-email .email img {
  width: 100%;
  height: auto;
}
#scub-email .email .content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
#scub-email .email .content p {
  line-height: 20px;
  font-size: 15px;
}
#scub-email .email .content .input-email {
  border-radius: 20px;
  border: 1px solid #6f6f6f;
  background-color: #fff;
  padding: 0px 3px;
}
#scub-email .email .content .input-email input {
  width: 80%;
  border: none;
  margin-left: 20px;
}
#scub-email .email .content .input-email input:focus {
  outline: none;
}
#scub-email .email .content .input-email button {
  padding: 8px 12px;
  border: none;
  background-color: #529c4d;
  color: white;
  cursor: pointer;
  margin: 3px 1px;
  border-radius: 18px;
  font-size: 14px;
}
#scub-email .email .content .input-email button i {
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  #scub-email .email {
    width: 100%;
  }
  #scub-email .email .content {
    width: 70%;
  }
  #scub-email .email .content .input-email {
    border: none;
  }
  #scub-email .email .content .input-email input {
    width: 100%;
    margin: auto;
    padding: 8px 12px;
    border-radius: 18px;
    border: 1px solid #6f6f6f;
    margin-bottom: 6px;
  }
  #scub-email .email .content .input-email button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}
#footer .top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100px;
}
#footer .top ul.info span.span-title {
  color: #529c4d;
}
#footer .top h4 {
  color: #f58634;
  font-size: 19px;
  font-weight: bold;
}
#footer .top img {
  width: 100%;
}
#footer .top .footer-logo {
  width: 70px;
  height: auto;
}
#footer .top .img-ser {
  width: 100px;
  height: 68px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}
#footer .top .img-gallery {
  width: 100%;
  height: 68px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer .top p {
  font-size: 14px;
  line-height: 18px;
  color: white;
}
#footer .top ul {
  padding-top: 20px;
  list-style-type: none;
}
#footer .top ul li {
  margin-bottom: 10px;
  min-height: 20px;
}
#footer .top ul li a {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
#footer .top ul li i {
  min-width: 35px;
  color: white;
  font-size: 18px;
}
#footer .top ul li .sc-nw i {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  background-color: #fff;
  color: #6f6f6f;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#footer .top ul li .sc-nw i:hover {
  background-color: #007bff;
  color: white;
}
#footer .top .blog ul li:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}
#footer .bottom {
  background-color: black;
}
#footer .bottom p {
  padding-top: 38px;
  padding-bottom: 38px;
  font-size: 14px;
  color: white;
}

#banner-title {
  padding-top: 20px;
  padding-bottom: 20px;
}
#banner-title h4 {
  font-size: 38px;
  font-weight: bold;
  color: #529c4d;
}
#banner-title ul {
  list-style-type: none;
}
#banner-title ul li {
  display: -webkit-inline-box;
  display: inline-flex;
}
#banner-title ul li a {
  color: white;
  position: relative;
  color: #f58634;
}
#banner-title ul li:not(:last-child) a {
  padding-right: 10px;
}
#banner-title ul li:not(:last-child) a:after {
  position: absolute;
  content: "/";
  right: 0;
}

.bg-cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#right-bar h6 {
  margin-top: 8px;
  background-color: #004085;
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 3px;
}
#right-bar .services {
  list-style-type: none;
  padding: 10px;
}
#right-bar .services li {
  padding: 10px 0px;
}
#right-bar .services li a {
  width: 100%;
  color: #1b1e21;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#right-bar .services li a:hover {
  color: #0062cc;
}
#right-bar .search-bar {
  border: 1px solid #6f6f6f;
  border-radius: 3px;
}
#right-bar .search-bar input {
  width: 80%;
  border: none;
  padding: 0px 12px;
}
#right-bar .search-bar input:focus {
  outline: none;
}
#right-bar .search-bar button {
  width: 43px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  border: none;
  background-color: #0062cc;
  color: white;
}
#right-bar .tags {
  float: left;
  padding: 8px 10px;
  background-color: #0062cc;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 3px;
}
#right-bar .tags a {
  color: white;
  font-size: 13px;
}
#right-bar .sc-nw i {
  width: 43px;
  height: 43px;
  background-color: #0062cc;
  text-align: center;
  line-height: 43px;
  color: white;
  border-right: 1px solid white;
}
#right-bar .sc-nw span {
  padding-left: 10px;
  font-size: 14px;
  color: white;
}

.box-contact {
  width: 98px;
  position: fixed;
  top: 94px;
  right: 0;
  z-index: 999;
}
.box-contact .box-style {
  width: 45px;
  height: 45px;
  border: 1px solid #f58634;
  border-radius: 8px;
  margin-bottom: 20px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  position: relative;
}
.box-contact .box-style .phone-number {
  position: absolute;
  display: none;
  left: -149px;
  top: 4px;
  padding: 10px;
  background-color: #529c4d;
  border-radius: 18px;
  color: white;
  font-weight: bolder;
}
.box-contact .box-style a {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: #529c4d;
  width: 100%;
  height: 100%;
}
.box-contact .box-style:hover {
  background-color: #f58634;
  border: 1px solid #529c4d;
}
.box-contact .box-style:hover .phone-number {
  display: block;
}
.box-contact .box-style:hover a {
  color: white;
}

@media only screen and (max-width: 800px) {
  .box-contact {
    display: none;
  }
}