#h_1 {
  position: relative;
  z-index: 1;
}
#h_1 #top {
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#h_1 #top .box {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  border-radius: 3px;
  box-shadow: -1px 4px 8px 0px #888888;
}
#h_1 #top .box img {
  position: absolute;
  left: 50%;
  top: -43px;
  width: 86px;
  height: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#h_1 #top .box h5 {
  font-size: 30px;
}
#h_1 #top .box p {
  width: 70%;
  margin: auto;
  padding-top: 10px;
  line-height: 20px;
}
#h_1 #top .box.left {
  background-color: #529c4d;
  margin-top: 6px;
  color: white;
}
#h_1 #top .box.middle {
  background-color: white;
  padding-top: 65px;
  padding-bottom: 38px;
}
#h_1 #top .box.middle h5 {
  font-size: 30px;
  color: black;
}
#h_1 #top .box.middle p {
  color: black;
}
#h_1 #top .box.middle img {
  width: 98px;
  height: auto;
}
#h_1 #top .box.right {
  background-color: #f58634;
  color: white;
  margin-top: 6px;
}
#h_1 #welcome {
  padding-top: 148px;
  padding-bottom: 38px;
  overflow-x: hidden;
}
#h_1 #welcome img {
  width: 100%;
}
#h_1 #welcome h5 {
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #09c709;
  color: green;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#h_1 #welcome p {
  font-size: 15px;
  line-height: 20px;
}
#h_1 #welcome h6 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
#h_1 #welcome h6 span {
  color: #0062cc;
}
#h_1 #welcome button.read-more {
  margin-top: 10px;
  border-radius: 3px;
  background-color: #f58634;
  font-size: 13px;
  border: none;
  padding: 6px 8px;
}
#h_1 #welcome button.read-more a {
  color: white;
}
#h_1 #welcome .register {
  text-align: center;
  position: relative;
  border: 1px solid #09dc09;
}
#h_1 #welcome .register .bg-img {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  position: absolute;
}
#h_1 #welcome .register .content {
  height: 100%;
  position: relative;
}
#h_1 #welcome .register .content input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
#h_1 #welcome .register .content textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}
#h_1 #welcome .register .content button.submit-re {
  width: 90%;
  padding: 10px;
  text-align: center;
  background-color: #f58634;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 38px;
  color: white;
  font-weight: bolder;
}
#h_1 #welcome .register .content h4 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding-top: 26px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  #h_1 #top {
    position: relative;
    left: auto;
    -webkit-transform: none;
            transform: none;
  }
  #h_1 #top .box img {
    position: relative;
    margin: auto;
    left: auto;
    -webkit-transform: none;
            transform: none;
    margin-top: 10px;
  }
  #h_1 #top .box.right {
    margin-top: 0px;
  }
  #h_1 #welcome {
    padding-top: 0px;
  }
}
#h_2 {
  overflow-x: hidden;
}
#h_2 h5 {
  font-weight: bold;
  border-bottom: 2px solid #78bc4d;
  color: #529c4d;
  padding-bottom: 5px;
  margin: 13px auto;
  font-size: 26px;
}
#h_2 h6 {
  font-weight: bold;
  font-size: 19px;
  padding-bottom: 10px;
}
#h_2 p.info {
  width: 70%;
  margin: auto;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 18px;
}
#h_2 .wcu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
}
#h_2 .border {
  width: 68px;
  height: 68px;
  text-align: center;
  border-radius: 50%;
}
#h_2 .border img {
  width: 38%;
  margin-top: 30%;
  height: auto;
}

@media only screen and (max-width: 800px) {
  #h_2 p.info {
    width: 100%;
  }
}
#h_3 {
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 200px;
  position: relative;
  padding-top: 50px;
  overflow-x: hidden;
  padding-bottom: 50px;
}
#h_3 .bg-top {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}
#h_3 .bg-top .cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#h_3 h5 {
  color: #529c4d;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 0 0 white, -2px 0 0 white, 0 2px 0 white, 0 -2px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}
#h_3 .items {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 186px;
}
#h_3 .info h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}
#h_3 .info h4 a {
  color: #529c4d;
}
#h_3 .info p {
  font-size: 15px;
  color: #6f6f6f;
  margin-bottom: 16px;
  line-height: 16px;
}
#h_3 .footer {
  width: 100%;
  background-color: #eaeaea;
  font-size: 14px;
  color: #e39a08;
}
#h_3 .footer a {
  color: #e39a08;
  font-weight: bold;
}

#h_4 {
  padding-top: 30px;
  padding-bottom: 50px;
  overflow-x: hidden;
  /* Style the tab */
  /* Style the tab content */
  /* Fade in tabs */
}
#h_4 img {
  width: 100%;
}
#h_4 h5 {
  font-size: 22px;
  font-weight: bold;
  margin: 18px auto;
  border-bottom: 2px solid #78bc4d;
  color: #529c4d;
  padding-bottom: 5px;
}
#h_4 p {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
}
#h_4 .tab {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  text-align: center;
}
#h_4 .tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  color: white;
  background-color: #004085;
}
#h_4 .tab button:hover {
  background-color: #f6af05;
  color: black;
}
#h_4 .tab button.active {
  position: relative;
  background-color: #f6af05;
  color: black;
}
#h_4 .tab button.active:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #f6af05;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#h_4 .tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
#h_4 .tabcontent .items {
  width: 100%;
  height: 186px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#h_4 .tabcontent.active {
  display: block;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#h_4 .load-more {
  background-color: #f6af05;
  color: black;
  padding: 12px 16px;
  font-size: 13px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#h_6 h5 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  overflow-x: hidden;
  border-bottom: 2px solid #78bc4d;
  color: #529c4d;
  padding-bottom: 5px;
  width: 100%;
}
#h_6 #main-contain {
  background-color: white;
}
#h_6 #main-contain .no-content {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  width: 100%;
}
#h_6 #main-contain .main-blog img {
  width: 100%;
  height: auto;
  border: 4px solid #f2f5f5;
}
#h_6 #main-contain .main-blog h3 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 8px;
  margin-top: 5px;
}
#h_6 #main-contain .main-blog h3 a {
  color: #529c4d;
}
#h_6 #main-contain .main-blog p {
  font-size: 16px;
  max-height: 40px;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#h_6 #main-contain .sub-blog .img-sub-blogs {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 76px;
  height: 58px;
}
#h_6 #main-contain .sub-blog p {
  font-size: 16px;
  max-height: 40px;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#h_6 #main-contain .sub-blog p a {
  color: #4f5151;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
}
#h_6 #main-contain .detail-blog {
  padding-bottom: 20px;
}
#h_6 #main-contain .detail-blog .one-item:first-child {
  border-top: 4px solid #529c4d !important;
  padding-top: 20px;
}
#h_6 #main-contain .detail-blog .one-item a .img-detail-blogs {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 186px;
  height: 138px;
  margin-right: 8px;
}
#h_6 #main-contain .detail-blog .one-item h4 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 5px;
}
#h_6 #main-contain .detail-blog .one-item h4 a {
  color: #004085;
}
#h_6 #main-contain .detail-blog .one-item p {
  font-size: 16px;
  max-height: 40px;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#h_6 #main-contain .detail-blog .one-item p.time {
  font-size: 15px;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin-bottom: 6px;
}
#h_6 #main-contain .detail-blog .one-item p.time span {
  font-weight: bold;
  text-transform: capitalize;
}
#h_6 .view-all {
  margin-top: 26px;
  margin-bottom: 20px;
  background-color: #f58634;
  padding: 12px 20px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

#au_1 {
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 2;
}
#au_1 h3 {
  font-size: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-weight: bold;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}
#au_1 h3:after {
  position: absolute;
  content: "";
  width: 68px;
  height: 3px;
  background-color: #1b1e21;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%) skew(45deg);
          transform: translateX(-50%) skew(45deg);
}
#au_1 p {
  font-size: 15px;
  color: #6f6f6f;
}
#au_1 img {
  margin-top: 20px;
  margin-bottom: 20px;
}
#au_1 h5 {
  font-size: 20px;
  font-weight: bold;
}
#au_1 ul {
  margin-left: 20px;
}

@media only screen and (max-width: 575.98px) {
  #au_1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #au_1 h3 {
    font-size: 15px;
  }
}
#b_1 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#b_1 .items {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#b_1 .items:hover {
  box-shadow: 0px 1px 2px 2px #6f6f6f;
}
#b_1 .items .bg-cover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}
#b_1 .items .bg-cover:hover {
  -webkit-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
}
#b_1 ul.post-info {
  list-style-type: none;
}
#b_1 ul.post-info li {
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  color: #1b1e21;
}
#b_1 ul.post-info li:not(:last-child) {
  position: relative;
  padding-right: 10px;
}
#b_1 ul.post-info li:not(:last-child):after {
  position: absolute;
  content: "|";
  right: 0;
  top: -1px;
}
#b_1 h4 {
  font-weight: bold;
  margin-bottom: 10px;
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#b_1 p {
  line-height: 20px;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#b_1 .read-more {
  background-color: #0062cc;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 3px;
}

#c_1 {
  padding-top: 58px;
  padding-bottom: 58px;
}
#c_1 h3 {
  font-size: 28px;
  font-weight: bold;
  position: relative;
  padding-bottom: 20px;
}
#c_1 h3:after {
  position: absolute;
  content: "";
  left: 0;
  top: 100%;
  width: 86px;
  height: 3px;
  background-color: #1b1e21;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}
#c_1 p {
  padding-top: 20px;
  color: #6f6f6f;
  line-height: 20px;
  margin-bottom: 20px;
}
#c_1 input, #c_1 textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 14px;
  border-radius: 3px;
  border: 1px solid #6f6f6f;
}
#c_1 button {
  padding: 10px 16px 12px 16px;
  font-size: 14px;
  border-radius: 18px;
  border: none;
  background-color: #004085;
  color: white;
  cursor: pointer;
}
#c_1 button i {
  font-size: 16px;
}
#c_1 .info {
  padding: 20px 10px 10px 10px;
  border: 3px solid #0062cc;
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
}
#c_1 .info i {
  font-size: 26px;
  width: 58px;
  height: 58px;
  color: white;
  text-align: center;
  line-height: 52px;
  border: 3px solid #0062cc;
  border-radius: 50%;
  background-color: #0062cc;
}

#bd_1 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#bd_1 .items {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
#bd_1 .items .bg-cover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
}
#bd_1 .items .bg-cover:hover {
  -webkit-transform: scale(1.2) rotate(3deg);
          transform: scale(1.2) rotate(3deg);
}
#bd_1 ul.post-info {
  list-style-type: none;
}
#bd_1 ul.post-info li {
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 12px;
  font-weight: bold;
  color: #1b1e21;
}
#bd_1 ul.post-info li:not(:last-child) {
  position: relative;
  padding-right: 10px;
}
#bd_1 ul.post-info li:not(:last-child):after {
  position: absolute;
  content: "|";
  right: 0;
  top: -1px;
}
#bd_1 .post-content {
  line-height: 1.8;
}
#bd_1 h4 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 22px;
}
#bd_1 .read-more {
  background-color: #0062cc;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 3px;
}