==
<div class="container-fluid" id="support" style="background-image:url({{'design/home/testimonials_bg.jpg'|media}});">
    <div class="container position-relative" style="z-index: 1">
        <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
            <div class="mb-lg-0 mb-3 text-lg-left text-center">
                <h5>Contact With Us For Customer Support</h5>
                <p>We are provide 24/7 hours to support</p>
            </div>
            <div class="">
                <button><a style="color: white;font-weight: bolder" href="{{url('lien-he')}}">GET SUPPORT <i class="pl-2 fas fa-long-arrow-alt-right"></i></a></button>
            </div>
        </div>
    </div>
</div>